@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(234, 240, 250, 0.678);
}


/* Header Area */

h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}

.icon {
    width: 35px;
    margin-left: 10px;
}


/* Header Area end*/


/* Image part */

.img-area {
    width: 100%;
    height: 80vh;
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Image part end */


/* Calculate Area */

.calculate-area {
    width: 100%;
    padding: 30px;
}

.expenses-area,
.income-area {
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

table {
    width: 100%;
}

td.lable {
    padding-top: 12px;
}

.lable {
    text-align: right;
    padding-right: 10px;
    font-weight: 700;
    padding-top: 5px;
}

input {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: none;
    background: #ddd;
}

input:focus {
    outline: none;
}


/* Calculate Area end */

@media (max-width: 530px) {
    h2 {
        font-size: 35px;
    }
}